<img class="banner" src="assets/images/admin-top.png" />
<div id="dashboard_body">
  <div class="title">
    {{title}}
  </div>
  <table class="data_table">
    <tr>
      <th class="data_table_name">序号</th>
      <th class="data_table_form_id">姓名</th>
      <th>
        手机号
      </th>
    </tr>
    <tr *ngFor="let checkin of checkin_list">
      <td class="data_table_name">
        {{checkin.id}}
      </td>
      <td class="data_table_form_id">{{checkin.name}}</td>
      <td>{{checkin.cellphone}}</td>
    </tr>
  </table>
  <p>金数据表单编号：{{form_id}}</p>
</div>