<img class="banner" src="assets/images/admin-top.png" />
<div id="dashboard_body">
  <div class="title">
    {{title}}
  </div>
  <table>
    <tr>
      <th>序号</th>
      <th>姓名</th>
      <th>手机号</th>
      <th>签到时间</th>
    </tr>
    <tr *ngFor="let checkin of checkin_list">
      <td>{{checkin.id}}</td>
      <td>{{checkin.name}}</td>
      <td>{{checkin.cellphone}}</td>
      <td>{{ checkin.created_at | date :  "medium": "+0800" }}</td>
    </tr>
  </table>
  <p>金数据表单编号：{{form_id}}</p>
</div>