<img class="banner" src="assets/images/admin-top.png" />
<div id="dashboard_body">
  <div>
    <div class="input">
      <label>活动名称</label>
      <input #activityName type="text">
    </div>
    <div class="input">
      <label>金数据表单编号</label>
      <input #formId type="text">
    </div>
    <button (click)="addActivity(activityName.value, formId.value)">创建签到表</button>
  </div>

  <hr class="separator" />

  <table class="data_table">
    <tr *ngFor="let activity of activities">
      <td class="data_table_name">{{activity.name}}</td>
      <td class="data_table_form_id">{{activity.form_id}}</td>
      <td>
        <button (click)="showQrcode(activity.form_id)">查看二维码</button>
      </td>
    </tr>
  </table>
</div>